@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Heebo:wght@500&family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #333333;
}

/* Input pop up */
#popup {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 90;
}

#popup > div {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto;
  background-color: rgba(19, 93, 216, 1);
  border: 1px solid white;
  color: white;
  padding: 5px;
}

#popup #popup-btn-submit{
  background-color: #c7b600;
  max-width: fit-content;
  padding: 5px;
  margin: 5px auto;
}

#pd-header-img {
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 5px;
}

/* MDT STYLING STARTS HERE */
#mdt-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: #1a5268;
}

#header {
  display: flex;
  flex-direction: column;
  color: #fafafa;
  height: 160px;
}

#header > div {
  display: flex;
  background-color: #252525;
  height: 155px;
  width: 100%;
}

#header > div > div {
  align-self: center;
  padding-left: 160px;
  height: 50px;
  width: 100%;
  background-color: #3f89a7;
  border-width: 2px;
  border-color: #e4d100;
  border-style: solid;
  border-left: none;
  border-right: none;
}

#nav {
  display: flex;
  background-color: #252525;
  height: 45px;
}

/* HTML Elements */

h1 {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Alfa Slab One', cursive;
}

h2, h3, h4, h5, h6 {
  font-size: 18px;
}

* {
  font-size: 14px;
}

#pd-dashboard-container,
#pd-search-person-container,
#pd-incident-container,
#pd-person-container,
#pd-search-incident-container {
  display: none;
  height: 600px;
}

#pd-dashboard-container {
  display: flex;
}

#pd-dashboard-col1,
#pd-dashboard-col2,
#pd-dashboard-col3,
#incident-col1,
#incident-col2,
#incident-col3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  width: calc(100%/3);
}

.float-right {
  float: right;
}

.module {
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border:2px solid blue;
  color:#fafafa;
}

#pd-dashboard-col2 .module {
  max-height: 50%;
}

.module > * {
  margin: 0 5px 5px 5px;
}

.module h2 {
  justify-self: center;
  background-color: #135DD8;
  color: #fafafa;
  width: auto;
  margin-top: 5px;
  align-self: center;
  text-align: center;
  width: 100%;
}

.module input {
  width: 100px;
  height: 20px;
  background-color: #fafafa;
  border: 0;
  color: #333333;
  margin: 2px;
}

.module hr {
  margin: 10px 0;
}


.inc-small-container {
  height: 100px;
  margin: 5px 0;
}

#btn-add-event {
  background-color: #e4d100;
  color: #333333;
  width: 100%;
  height: 40px;
}

#txt-add-event {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: #f8f8f8;
  resize: none;
}

.incident-col1 {
  background-color: rgba(0, 0, 0, 0.5) !important; 
  border-bottom: 2px solid rgb(180, 180, 0) !important;
  width: 95% !important;
  color: #fafafa !important;
  padding-left: 5px;
}

.event-entry {
  background-color: rgba(0, 0, 0, 0.5); 
  width: 100%;
  color: #fafafa;
  margin: 2px 0;
}

.button {
  padding: 5px 10px 5px 10px;
  background-color: #ff1cd9;
  margin: 5px;
}

.btn-yellow {
  background-color: #8b8200;
  color: #353100;
}

.btn-yellow:hover {
  background-color: #ffee02;
  color: #000000;
}

.btn-yellow-active {
  background-color: #ffee02;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#incident-event-history {
  min-height: 450px;
  max-height: 450px;
}


.module > div:nth-of-type(2) {
  overflow-y: scroll;
  height: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.module > div:nth-of-type(2)::-webkit-scrollbar {
  display: none;
}

.mdt-inc {
  margin: 5px 0;
  background-color: rgb(255, 255, 255, 0.1);
  padding: 5px 10px;
  position: relative;
}

.mdt-inc .code10 {
  background-color: red;
  padding: 1px 4px;
  border-radius: 10px;
}

.mdt-inc span:nth-child(2) {
  margin-left: 5px;
  font-weight: 600;
  border-radius: 10px;
}

.mdt-inc button {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(255, 0, 221, 0.3);
  margin-top: 5px;
  margin-right: 5px;
  font-weight: 300;
  height: 20px;
  width: 20px;
  text-align: center;
}

.mdt-inc button:nth-of-type(2) {
  position: absolute;
  top: 25px;
  background-color: rgba(69, 235, 3, 0.3);
}

td:last-of-type {
  display: flex;
  width: 100%;
  margin: 0 5px;
  justify-content: center;
}

table button,
table button {
  width: 80%;
}

#pd-search-person-container input,
#pd-search-incident-container input {
  width: 20%;
  padding: 5px 10px;
}

#pd-search-incident-container > div > div:nth-of-type(2),
#pd-search-person-container > div > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}

#pd-search-incident-container > div > div:nth-of-type(2) > div:first-of-type,
#pd-search-person-container > div > div:nth-of-type(2) > div:first-of-type {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#pd-search-incident-container > div > div:nth-of-type(2) > div:first-of-type tr > td:first-of-type,
#pd-search-person-container > div > div:nth-of-type(2) > div:first-of-type tr > td:first-of-type {
  width: 200px;
  text-align: left;
  padding-left: 10px;
}

#pd-search-incident-container > div > div:nth-of-type(2) > div:first-of-type tr > td:nth-of-type(2),
#pd-search-person-container > div > div:nth-of-type(2) > div:first-of-type tr > td:nth-of-type(2) {
  width: 400px;
}

#pd-search-incident-container > div > div:nth-of-type(2) > div:first-of-type input,
#pd-search-person-container > div > div:nth-of-type(2) > div:first-of-type input  {
  width: 100%;
}

#pd-search-incident-button,
#pd-search-person-button {
  margin-top: 10px;
  align-self: center;
  width: 100%;
  height: 40px
}


#search-results,
#search-incident-results,
#person-convictions-tbl,
#person-incidents-tbl,
#person-vehicles-tbl {
  margin-top: 10px;
  align-self: center;
  width: 80%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 10px;
}

#search-results th,
#search-incident-results th,
#person-convictions-tbl th,
#person-incidents-tbl th,
#person-vehicles-tbl th {
  width: 20%;
}

th:nth-of-type(odd),
td:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

#pd-person-container {
  position: relative;
}

#person-identification-tbl td {
  width: 175px;
}

#pd-person-container img {
  border: 1px solid white;
  width: 200px;
  height: 200px;
  position: absolute;
  right: 10px;
  top: 60px;
}

#pd-person-container #person-convictions {
  margin-top: 30px;
}

/* Buttons */

button:hover {
  cursor:pointer;
}

.module-button {
  width: 100px;
  height: 20px;
  border: 0;
  margin: 2px;
}

.btn-yellow {
  background-color: #ccbe00;
  color: #353100;
  border: 0;
}

.btn-yellow:hover {
  background-color: #ffee02;
  color: #000000;
}

.btn-yellow-active {
  background-color: #ffee02;
}